@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  margin: 0;
  background-color: #181818;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  background-color: transparent;
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #c7c7c7;
  border-radius: 1rem;
}
